body {
  background-color: #3c3c3c;
}

.sticky-comment-area {
  position: sticky;
  top: 10px; 
  height: calc(100vh - 20px); 
  overflow-y: auto; 
}

.single-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none; 
  cursor: pointer; 
}

.single-book.selected {
  border: 3px solid red;
}

.book-image {
  height: 300px;
  object-fit: cover;
}

.book-title {
  color: black;
}


